body {
  padding-top:20px;
  padding-bottom:20px;
}
blockquote { 
    font-size:inherit !important;
    border-left:5px solid #337ab7;
    background-color:#eee;
}
blockquote footer::before, blockquote small::before, blockquote .small::before { content:none !important }
.navbar { margin-bottom:20px }
.note-editor .note-dialog .form-group.row-fluid.note-group-select-from-files { display:none }
.popover.podium {
    display:block !important;
    width:auto !important;
    max-width:none !important;
    position:relative !important;
    z-index:1 !important;
}
.popover.right.podium > .arrow { top:55px !important }
.avatar-name { padding:10px }
.podium-content { 
    min-height:125px;
    padding-bottom:30px;
}
.podium-action-bar {
    position:absolute;
    bottom:10px;
    right:10px;
    display:none;
}
.podium-content:hover .podium-action-bar { display:block }
.podium-go-to-new { display:none }
.podium-thread-line:hover .podium-go-to-new { display:inline }
@media (max-width: 767px) {
    .podium-avatar { display:none !important }
}