body {
  padding-top:20px;
  padding-bottom:20px;
}
.navbar { margin-bottom:20px }
.note-editor .note-dialog .form-group.row-fluid.note-group-select-from-files { display:none }
.podium-avatar {
    max-width:128px;
    max-height:128px;
}
.popover.podium {
    display:block !important;
    width:auto !important;
    max-width:none !important;
    position:relative !important;
    z-index:1 !important;
}
.popover.right.podium > .arrow {
    top:55px !important;
}