body {
  padding-top:20px;
  padding-bottom:20px;
}
.navbar { margin-bottom:20px }
.note-editor .note-dialog .form-group.row-fluid.note-group-select-from-files { display:none }
.podium-avatar {
    max-width:128px;
    max-height:128px;
}